.main{
    min-width: 100vw;
    min-height: 100vh;
    background-image: url('/images/Polygon 2.png');
    background-position: left center;
    background-repeat: no-repeat;
    background-position-x: 95%;

}



@media only screen and (min-width: 1326px) and (max-width:1450px) {
    .main{
        background-position-x: 86%;
        
    }
}


@media only screen and (min-width: 1000px) and (max-width:1325px) {
    .main{
        background-position-x: 80%;
        
    }
}

@media only screen and (min-width: 850px) and (max-width:999px) {
    .main{
        background-position-x: 75%;
        
    }
}

@media only screen and (min-width: 600px) and (max-width:849px) {
    .main{
        background-position-x: 70%;
        
    }
}

@media only screen and (max-width: 599px) {
    .main{
        background-position-x: 76% ;
    }
}