.blackOrWhiteContent {
    min-height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 !important;
}

/*BLACK*/
.black {
    background-color: #0D0D0D;
    color: white;
    position: relative;
    z-index: 2;
}

.blackWrapper {
    max-width: 683.5px;
    margin-left: auto;
    height: 100%;
    padding: 6rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.blackDroneImageContainer {
    position: relative;
    width: 564px;
    min-width: 270px;
    height: 543.86px;
}

.blackDroneImageContainer>div {
    position: unset !important;
}

.blackDroneImage {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
}

/*WHITE*/
.white {
    background-color: #F5F5F5;
    color: black;
}

.whiteWrapper {
    max-width: 683.5px;
    margin-right: auto;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


.whiteDroneImageContainer {
    position: relative;
    width: 564px;
    min-width: 270px;
    height: 543.86px;
    top: 0;
    left: -20px;
}

.whiteDroneImageContainer>div {
    position: unset !important;
}

.whiteDroneImage {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
}

.heading {
    display: flex;
    align-items: flex-start;
    column-gap: 0.5rem;
}

.heading h2 {
    padding: 0;
    margin: 0;
}

.text {
    margin-bottom: 1.5rem;
}

.textContent {
    padding-right: 11rem;
}

.textContentBottom {
    position: relative;
    padding-left: 11rem;
}

@media only screen and (max-width: 1560px) {
    .textContent {
        padding-left: 3rem;
        padding-right: 5rem;
    }
}

@media only screen and (max-width: 670px) {
    .blackOrWhiteContent {
        grid-template-columns: 1fr;
    }

    .blackWrapper {
        padding: 0;
        padding-top: 3rem;
    }

    .whiteWrapper {
        padding-bottom: 3rem;
    }

    .textContent {
        padding-right: 0;
        padding: 0 2rem;
    }

    .textContentBottom {
        position: relative;
        padding-left: 0;
        padding: 0 2rem;
    }

    .blackDroneImageContainer {
        width: 450px;
        height: 300px;
    }

}

@media only screen and (max-width: 450px) {
    .blackDroneImageContainer {
        width: 380px;
        height: 350px;
    }
}