.byTrackingContent {
    min-height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 10rem !important;
}

.byTrackingContent .containerWrapper {
    display: flex;
    flex-direction: column;
    column-gap: 5rem;
    align-items: center;
    width: 100%;
    height: auto;
    position: relative;
}


.containerWrapper>div {
    display: grid;
    grid-template-columns: 6fr 1fr 3fr;
    align-items: start;
    margin-bottom: 1rem;
}

.byTrackingText {
    padding-right: 8rem;
}

.heading {
    display: flex;
    align-items: flex-start;
    column-gap: 0.5rem;
}

.heading h2 {
    padding: 0;
    margin: 0;
}

.byTrackingCharts {
    display: flex;
}

.chartsContainer {
    height: 120px;
    display: flex;
    align-items: flex-end;
    column-gap: 1rem;
    position: relative;
    z-index: 1;
}

.byTrackingImageContainer {
    position: relative;
    width: 1000px;
    min-width: 270px;
    height: 1000px;
    bottom: -350px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: -40%;
    padding-bottom: -40%;
}

.byTrackingImageContainer>div {
    position: unset !important;
}

.byTrackingImage {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
}


.flyingDroneImageContainer {
    position: relative;
    width: 516;
    min-width: 180px;
    height: 234px;
}

.flyingDroneImageContainer>div {
    position: unset !important;
}

.flyingDroneImage {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
}

@media only screen and (max-width: 576px) {
    .containerWrapper>div {
        grid-template-columns: 1fr;
    }

    .byTrackingImageContainer {
        height: 820px;
        bottom: 0;
        margin-bottom: -55%;
        margin-top: -60%;
        margin-left: 8%;
    }

    .containerWrapper>div {
        align-items: center;
    }

    .byTrackingText {
        padding-right: 0;
    }

    .byTrackingCharts {
        flex-direction: column;
    }
}