.cameraContent {
    min-height: 100vh;
    width: 100%;
    background-color: #0D0D0D;
    clip-path: polygon(0 0, 62% 0, 100% 28%, 100% 100%, 34% 100%, 0 66%);
}

.cameraContent .containerWrapper {
    display: flex;
    column-gap: 5rem;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-flow: wrap-reverse;
}

.cameraImageContainer {
    flex: 1;
    position: relative;
}

.cameraImageContainer {
    width: 1034px;
    min-width: 270px;
    height: 582px;
}

.cameraImageContainer>div {
    position: unset !important;
}

.cameraImage {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
}

.cameraIconContainer {
    position: relative;
    width: 33px;
    height: 33px;
}

.cameraIconContainer>div {
    position: unset !important;
}

.cameraIcon {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
}

.cameraContent .text {
    flex: 1;
    position: relative;
}

.fourK {
    font-family: 'Stencil';
    font-size: 12rem;
    position: absolute;
    top: -3rem;
    left: -3rem;
    margin: 0;
    padding: 0;
    color: #1E1E1E;
}

.cameraContent .text .cameraInfo {
    padding-right: 2rem;
    position: relative;
}

.cameraContent h2 {
    color: #EDEDED;
    padding: 0;
    margin: 0;
}

.cameraAdditionalInfo {
    display: flex;
    align-items: center;
}

.cameraAdditionalInfo>div {
    display: flex;
    align-items: center;
    flex: 1;
    column-gap: .6rem;
}

.cameraSpan {
    font-family: 'Segoe UI';
    font-weight: 300;
    font-size: 2.6rem;
    color: #FFFFFF;
}

.cameraSpanSecondary {
    font-family: 'Segoe UI';
    font-weight: 400;
    font-size: .9rem;
    color: #4D4D4D;
}

@media only screen and (max-width: 576px) {

    .cameraContent {
        min-height: 100vh;
        width: 100%;
        background-color: #0D0D0D;
        clip-path:polygon(0 0, 40% 0, 100% 10%, 100% 100%, 60% 100%, 0 90%);
        padding-top: 7rem !important;
    }

    .cameraImageContainer {
        min-width: 100%;
        max-width: 100%;
    }

    .cameraImageContainer {
        height: 380px;
    }

    .cameraContent .text .cameraInfo {
        padding-right: 0.2rem;
    }

}