    .checkout {
        position: relative;
        min-height: 850px;
        padding: 1rem 2rem;
    }

    .checkout h3 {
        text-align: left;
    }

    .form {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        padding: .5rem 0 3rem;
        column-gap: 3rem;
    }

    .formRow {
        display: flex;
        flex-wrap: wrap;
        column-gap: 1rem;
        margin-bottom: 1rem;
    }

    .fullWidth {
        flex: 1;
    }

    .steper {
        width: '100%';
        margin-bottom: '1.5rem';
    }

    .phonePrefix{
        width: 180px;
    }

    @media only screen and (max-width: 576px) {
        .steper {
            max-width: 280px;
            overflow-y: hidden;
            overflow-x: scroll;
        }

        .checkout {
            position: relative;
            min-height: 1260px;
            padding: 1rem 2rem;
        }

        .phonePrefix{
            width: 100%;
        }
    }