.compatibleContent {
    min-height: 100vh;
    width: 100%;
    background-color: white;
    position: relative;
}

.compatibleContent .containerWrapper {
    display: flex;
    flex-direction: column;
    column-gap: 5rem;
    align-items: center;
    width: 630px;
    margin: auto;
    height: auto;
    text-align: center;
    position: absolute;
    bottom: 100px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.containerWrapper h2 {
    padding: 0;
    margin: 0;
}

.triangleImage {
    position: absolute;
    width: 260px;
    height: 260px;
    left: 0;
    top: -130px;
    clip-path: polygon(100% 50%, 0 0, 0 100%);
    background-image: url('/images/nature.png');
    background-size: cover;
    z-index: 0;
}

.triangleImageBottom {
    position: absolute;
    width: 260px;
    height: 260px;
    right: 0;
    bottom: -130px;
    clip-path: polygon(0 50%, 100% 4%, 100% 96%);
    background-image: url('/images/nature.png');
    background-size: cover;
    z-index: 0;
}

.droneInHandImageContainer {
    position: absolute;
    width: 600px;
    min-width: 270px;
    height: 600px;
    right: 0;
    top: 0;
}

.droneInHandImageContainer>div {
    position: unset !important;
}

.droneInHandImage {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
}

@media only screen and (min-width: 1900px) {
    .droneInHandImageContainer {
        width: 720px;
        min-width: 324px;
        height: 720px;
        right: 0;
        top: 0;
    }

}

@media only screen and (max-width: 695px) {
.compatibleContent .containerWrapper {
   width: 90%;
}
    .triangleImage {
        width: 130px;
        height: 130px;
        top: -65px;
    }

    .triangleImageBottom {
        width: 130px;
        height: 130px;
        bottom: -65px;
    }

    .droneInHandImageContainer {
        min-width: 100%;
        max-width: 100%;
        height: 380px;
    }
}